
    .a{
        background-color: red;

    }

  .te{

    background-color: rgb(60, 230, 173);

  }

  .tee{

    background-color: rgb(191, 107, 199);

  }

  .grey{

    color: grey;

  }

  .bg-grey{


    background-color: grey;

  }

  .t{

    background-color: red;

  }

  .picture{

    width: 40%;

  }

  .v{

    background-image: url(images/villa-1-500x500.jpg);

  }


  .y{

      background-color:white;
  }


  @font-face {
    font-family: "Roboto-Black";
    src: url('/frontoffice/assets/police/Roboto-Black.ttf');
  }
  
  
  h1,h2,h3,h4,h5,a{
  
  font-family: 'Roboto-Black';
  
  }
  
  
  
  @font-face {
    font-family: "Oswald";
    src: url('/frontoffice/assets/police/Oswald-VariableFont_wght.ttf');
  }
  
  p{
  
    font-family: 'Oswald';
  
  }
  