
    .a{
        background-color: red;

    }

  .te{

    background-color: rgb(60, 230, 173);

  }

  .tee{

    background-color: rgb(191, 107, 199);

  }

  .grey{

    color: grey;

  }

  .bg-grey{


    background-color: grey;

  }

  .t{

    background-color: red;

  }

  .picture{

    width: 40%;

  }

  .v{

    background-image: url(images/villa-1-500x500.jpg);

  }


  .y{

      background-color:white;
  }

