@font-face {
  font-family: "Roboto-Black";
  src: url('/frontoffice/assets/police/Roboto-Black.ttf');
}


h1,h2,h3,h4,h5,a{

font-family: 'Roboto-Black';

}



@font-face {
  font-family: "Oswald";
  src: url('/frontoffice/assets/police/Oswald-VariableFont_wght.ttf');
}

p{

  font-family: 'Oswald';

}


.back{

  background-color: black;
  width: 100%;

}

.t{

  background-color: red;

}




.pictures{

  width: 15%;
  color: aliceblue;

}
