.a {

    background-color: rgba(105, 104, 104, 0.288);
    background-image: url(images/thumb-1920-1096250.webp);

  }

  .b{

      background-color: white;

  }
  .c{

    background-color: white;
    width: 50%;

  }